@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Lora", serif;
  font-weight: 100;
}
.navbar .nav-link {
  color: red;
}
.navbar ul li a {
  color: red;
  font-family: "Lora", serif;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.secuenciaPrincipal {
  background-color: black;
  padding: 100px 100px 10px 100px;
}
.secuenciaPrincipal .buttonColor {
  color: white;
}
.secuenciaPrincipal .TextoSlide {
  color: antiquewhite;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.cuadroComparte {
  padding: 1rem;
  background-color: black;
}
.cuadroComparte .primerParrafo {
  background-color: rgba(255, 0, 0, 0.651);
  font-family: "Lora", serif;
  font-weight: 800;
  color: white;
  text-align: center;
  font-size: 23px;
  padding: 50px;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
  border-radius: 10px;
}

.todoRecomendadas {
  padding: 1rem;
}
.todoRecomendadas .nuestrasRecomendadasFondo {
  background-color: #19191a;
  padding: 0.5rem;
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 10px;
}
.todoRecomendadas .nuestrasRecomendadasFondo .tituloNuestras {
  font-size: 40px;
}

.losCombos {
  display: flex;
  padding: 40px 0px 10px 0px;
  gap: 10px;
}
.losCombos .comboUnoCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
.losCombos .comboUnoCombinado .textoComboUno {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
.losCombos .comboDosCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
.losCombos .comboDosCombinado .textoComboDos {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
.losCombos .comboTresCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
.losCombos .comboTresCombinado .textoComboTres {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
.losCombos .comboCuatroCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
.losCombos .comboCuatroCombinado .textoComboCuatro {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
.losCombos .comboCincoCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
.losCombos .comboCincoCombinado .textoComboCinco {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
.losCombos .infoCombos {
  padding-left: 15px;
}
.losCombos .imagenCombo {
  width: 250px;
}
.losCombos .decoracionPN {
  color: white;
}

.segundoParrafo {
  background-color: #C0C0C0;
  font-family: "Lora", serif;
  font-size: 20px;
  color: black;
  text-align: center;
  border-radius: 10px;
}

.videoR {
  padding: 50px 400px 50px 400px;
  display: flex;
}
.videoR .cajaVideoY {
  width: 500px;
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.videoR .cajaVideoY .videoBox {
  border-radius: 10px;
  width: 500px;
}

.cajaPfisico {
  background-color: black;
  display: flex;
  padding: 40px 150px 40px 150px;
  gap: 60px;
  border-radius: 1rem;
}
.cajaPfisico .ubicacionPuntoP {
  width: 470px;
}

.cajaQuienesSomos {
  padding: 100px 0px 0px 0px;
}
.cajaQuienesSomos .parrafoQuienesSomos {
  font-family: "Lora", serif;
  color: black;
}

.cajaCompletaAdmi {
  display: flex;
  padding: 20px 500px 20px 300px;
  gap: 105px;
}
.cajaCompletaAdmi .administradores {
  border-radius: 25px;
  overflow: hidden;
}
.cajaCompletaAdmi .administradores .textoAdmi {
  width: 450px;
}
.cajaCompletaAdmi .cajasTextoquienes {
  background-color: black;
  font-family: "Lora", serif;
  color: white;
  width: 450px;
  text-align: center;
  padding: 1px;
}

.cajaTituloHamburguesas {
  padding: 90px 120px 10px 120px;
}
.cajaTituloHamburguesas .hamburguesasTitulo {
  font-family: "Lora", serif;
  color: white;
  background-color: #522B47;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
}

.cajaCompletaCreaciones {
  display: flex;
  padding: 40px 300px 20px 275px;
  gap: 70px;
}
.cajaCompletaCreaciones .creacionesMedia .tarjetaHamburguesa {
  border-radius: 25px;
  overflow: hidden;
  width: 450px;
}
.cajaCompletaCreaciones .creacionesMedia .tarjetaHamburguesa .españolaHamburguesa {
  width: 100%;
}
.cajaCompletaCreaciones .creacionesMedia .tarjetaHamburguesa .hamburguesaTexto {
  background-color: black;
  font-family: "Lora", serif;
  color: red;
  width: 450px;
  text-align: center;
  padding: 1px;
}

.cajaTituloHot {
  padding: 200px 120px 10px 120px;
}
.cajaTituloHot .hotDogTitulo {
  font-family: "Lora", serif;
  color: white;
  background-color: #522B47;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
}

.cajaCompletaHot {
  display: flex;
  padding: 40px 250px 30px 260px;
  gap: 50px;
}
.cajaCompletaHot .tarjetaPerro {
  border-radius: 25px;
  overflow: hidden;
}
.cajaCompletaHot .tarjetaPerro .españolaPerro {
  width: 300px;
}
.cajaCompletaHot .tarjetaPerro .hotText {
  background-color: black;
  font-family: "Lora", serif;
  color: red;
  width: 300px;
  text-align: center;
  padding: 1px;
}

.cajaTituloSalchi {
  padding: 200px 120px 10px 120px;
}
.cajaTituloSalchi .salchipapasTitulo {
  font-family: "Lora", serif;
  color: white;
  background-color: #522B47;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
}

.CajaCompletaSalchi {
  display: flex;
  padding: 40px 250px 30px 260px;
  gap: 50px;
}
.CajaCompletaSalchi .tarjetaSalchi {
  border-radius: 25px;
  overflow: hidden;
}
.CajaCompletaSalchi .tarjetaSalchi .espaSalchi {
  width: 300px;
}
.CajaCompletaSalchi .tarjetaSalchi .salchiTexto {
  background-color: black;
  font-family: "Lora", serif;
  color: red;
  width: 300px;
  text-align: center;
  padding: 1px;
}

.parrafoCreaciones {
  padding: 10px 0px 0px 0px;
  font-family: "Lora", serif;
  color: black;
}

.parrafoDomiciliosCompleto {
  padding: 100px 100px 0px 100px;
}
.parrafoDomiciliosCompleto .parrafoDomicilios {
  font-family: "Lora", serif;
  color: black;
}

.motoCaja {
  padding: 10px 100px 0px 350px;
}
.motoCaja .imagenMoto {
  border-radius: 30px;
  border-color: red;
  border-style: dotted;
}

.parrafoReservaciones {
  font-family: "Lora", serif;
  color: black;
  display: flex;
  padding: 80px 0px 0px 0px;
}
.parrafoReservaciones .formulario {
  padding: 0px 0px 0px 0px;
}
.parrafoReservaciones .formulario .reservar {
  font-family: "Lora", serif;
  color: black;
}
.parrafoReservaciones .formulario .borrar {
  font-family: "Lora", serif;
  color: black;
}
.parrafoReservaciones .formulario .nohagoNada {
  font-family: "Lora", serif;
  color: black;
}

footer .cajaTpiePagina {
  padding: 50px 0px 0px 0px;
}
footer .cajaTpiePagina .tituloPiedePagina {
  background-color: black;
  font-family: "Lora", serif;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
footer .piedePaginaCompleto {
  background-color: white;
  display: flex;
  padding: 0px 150px 0px 150px;
  gap: 240px;
}
footer .piedePaginaCompleto .instagramLogo {
  width: 53px;
  text-decoration: none;
}
footer .piedePaginaCompleto .facebookLogo {
  width: 50px;
}
footer .piedePaginaCompleto .tiktokLogo {
  width: 50px;
}
footer .piedePaginaCompleto .whatsappLogo {
  width: 50px;
}
footer .tercerParrafo {
  background-color: #C0C0C0;
  font-family: "Lora", serif;
  font-weight: 600;
  color: black;
  text-align: center;
}

@media screen and (min-width: 200px) and (max-width: 812px) {
  /*combos*/
  .tituloNuestras {
    font-size: 20px;
  }
  .losCombos {
    display: block;
  }
  .losCombos .mobileCombos {
    padding: 10px 5px 20px 5px;
  }
  .losCombos .mobileCombos .imagenCombo {
    width: 100%;
  }
  /*quienes somos*/
  .cajaCompletaAdmi {
    display: block;
    padding: 0px 0px 0px 0px;
  }
  .cajaCompletaAdmi .cajasMedia {
    padding: 20px 90px 20px 95px;
    align-content: center;
  }
  .cajaCompletaAdmi .cajasMedia .administradores {
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
  }
  .cajaCompletaAdmi .cajasMedia .administradores .textoAdmi {
    width: 300px;
  }
  .cajaCompletaAdmi .cajasMedia .cajasTextoquienes {
    width: 300px;
  }
  /*recomendadas*/
  /*hambuirguesas*/
  .cajaTituloHamburguesas {
    padding: 100px 10px 10px 10px;
  }
  .cajaCompletaCreaciones {
    display: block;
    padding: 0px 0px 0px 0px;
  }
  .cajaCompletaCreaciones .creacionesMedia {
    padding: 10px 0px 10px 90px;
  }
  .cajaCompletaCreaciones .creacionesMedia .tarjetaHamburguesa {
    width: 300px;
  }
  .cajaCompletaCreaciones .creacionesMedia .tarjetaHamburguesa .españolHamburguesa {
    width: 100%;
  }
  .cajaCompletaCreaciones .creacionesMedia .tarjetaHamburguesa .hamburguesaTexto {
    width: 300px;
  }
  /*perros*/
  .cajaTituloHot {
    padding: 50px 10px 10px 10px;
  }
  .cajaCompletaHot {
    display: block;
    padding: 0px 0px 0px 0px;
  }
  .cajaCompletaHot .creacionesHot {
    width: 300px;
    padding: 10px 80px 10px 90px;
  }
  .cajaCompletaHot .creacionesHot .tarjetaPerro {
    width: 300px;
  }
  .cajaCompletaHot .creacionesHot .tarjetaPerro .españolaPerro {
    width: 100%;
  }
  .cajaCompletaHot .creacionesHot .tarjetaPerro .hotText {
    background-color: black;
    font-family: "Lora", serif;
    color: red;
    width: 300px;
    text-align: center;
    padding: 1px;
  }
  /*salchipapas*/
  .cajaTituloSalchi {
    padding: 50px 10px 10px 10px;
  }
  .CajaCompletaSalchi {
    padding: 0px 0px 0px 0px;
    display: block;
  }
  .CajaCompletaSalchi .creacionesSal {
    width: 300px;
    padding: 10px 80px 10px 90px;
  }
  .CajaCompletaSalchi .creacionesSal .tarjetaSalchi {
    width: 300px;
  }
  /*video*/
  .videoR {
    padding: 10px 75px 10px 75px;
    align-content: center;
  }
  .videoR .cajaVideoY {
    width: 300px;
    padding: 0px 0px 0px 0px;
  }
  .videoR .cajaVideoY .videoBox {
    width: 200;
  }
  /*punto fisico*/
  .cajaPfisico {
    display: block;
    padding: 25px;
  }
  .cajaPfisico .ubicacionPuntoP {
    width: 400px;
    border-radius: 10px;
  }
  .cajaPfisico .mapaBox {
    width: 400px;
    padding: 25px 25px 10px 30px;
  }
  /*domicilios*/
  .motoCaja {
    width: 300px;
    padding: 0px 0px 0px 100px;
  }
  .motoCaja .imagenMoto {
    width: 300px;
  }
  /*footer*/
  footer .piedePaginaCompleto {
    display: flex;
    padding: 5px 5px 5px 60px;
    gap: 70px;
  }
  footer .piedePaginaCompleto .instagramLogo {
    width: 33px;
  }
  footer .piedePaginaCompleto .facebookLogo {
    width: 30px;
  }
  footer .piedePaginaCompleto .tiktokLogo {
    width: 30px;
  }
  footer .piedePaginaCompleto .whatsappLogo {
    width: 30px;
  }
  footer .piedePaginaCompleto .tercerParrafo {
    background-color: #C0C0C0;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
}

/*# sourceMappingURL=main.css.map */
