@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,700&display=swap");
/*Font family lora serif */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CUERPO*/
body {
  background-color: e6ebe0;
}
body .navbar {
  font-family: "Lora", serif;
  font-weight: 100;
}
body .navbar .nav-link {
  color: red;
}
body .navbar ul li a {
  color: red;
  font-family: "Lora", serif;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
}
body .secuenciaPrincipal {
  background-color: black;
  padding: 100px 100px 10px 100px;
}
body .secuenciaPrincipal .buttonColor {
  color: white;
}
body .secuenciaPrincipal .TextoSlide {
  color: antiquewhite;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
body .cuadroComparte {
  padding: 1rem;
  background-color: black;
}
body .cuadroComparte .primerParrafo {
  background-color: rgba(255, 0, 0, 0.651);
  font-family: "Lora", serif;
  font-weight: 800;
  color: white;
  text-align: center;
  font-size: 23px;
  padding: 50px;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
  border-radius: 10px;
}
body .todoRecomendadas {
  padding: 1rem;
}
body .todoRecomendadas .nuestrasRecomendadasFondo {
  background-color: #19191a;
  padding: 0.5rem;
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 10px;
}
body .todoRecomendadas .nuestrasRecomendadasFondo .tituloNuestras {
  font-size: 40px;
}
body .losCombos {
  display: flex;
  padding: 40px 0px 10px 0px;
  gap: 20px;
}
body .losCombos .comboUnoCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
body .losCombos .comboUnoCombinado .textoComboUno {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
body .losCombos .comboDosCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
body .losCombos .comboDosCombinado .textoComboDos {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
body .losCombos .comboTresCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
body .losCombos .comboTresCombinado .textoComboTres {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
body .losCombos .comboCuatroCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
body .losCombos .comboCuatroCombinado .textoComboCuatro {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
body .losCombos .comboCincoCombinado {
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
}
body .losCombos .comboCincoCombinado .textoComboCinco {
  font-family: "Lora", serif;
  color: red;
  text-align: center;
}
body .losCombos .infoCombos {
  padding-left: 15px;
}
body .losCombos .imagenCombo {
  width: 350px;
}
body .losCombos .decoracionPN {
  color: white;
}
body .segundoParrafo {
  background-color: #C0C0C0;
  font-family: "Lora", serif;
  font-size: 20px;
  color: black;
  text-align: center;
  border-radius: 10px;
}
body .videoR {
  padding: 50px 400px 50px 400px;
  display: flex;
}
body .videoR .cajaVideoY {
  width: 500px;
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
body .videoR .cajaVideoY .videoBox {
  border-radius: 10px;
  width: 400px;
}
body .cajaPfisico {
  background-color: black;
  display: flex;
  padding: 40px 150px 40px 150px;
  gap: 60px;
  border-radius: 1rem;
}
body .cajaPfisico .ubicacionPuntoP {
  width: 470px;
}

footer .cajaTpiePagina {
  padding: 50px 0px 0px 0px;
}
footer .cajaTpiePagina .tituloPiedePagina {
  background-color: black;
  font-family: "Lora", serif;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
footer .piedePaginaCompleto {
  background-color: white;
  display: flex;
  padding: 0px 150px 0px 150px;
  gap: 240px;
}
footer .piedePaginaCompleto .instagramLogo {
  width: 53px;
  text-decoration: none;
}
footer .piedePaginaCompleto .facebookLogo {
  width: 50px;
}
footer .piedePaginaCompleto .tiktokLogo {
  width: 50px;
}
footer .piedePaginaCompleto .whatsappLogo {
  width: 50px;
}
footer .tercerParrafo {
  background-color: #C0C0C0;
  font-family: "Lora", serif;
  font-weight: 600;
  color: black;
  text-align: center;
}

body .imagenPuntoP {
  background-color: black;
  width: 70%;
  color: transparent;
  opacity: 0.5;
}

/*----------------------------------------------CONTACTANOS---------------------------------*/
.parrafoContactanos {
  font-family: "Lora", serif;
  color: black;
}

/*----------------------------------------------QUIENES SOMOS ---------------------------------*/
.cajaQuienesSomos {
  padding: 100px 0px 0px 0px;
}

.parrafoQuienesSomos {
  font-family: "Lora", serif;
  color: black;
}

/* --------------------      */
.administradores {
  border-radius: 25px;
  overflow: hidden;
}

.textoAdmi {
  width: 450px;
}

.cajasTextoquienes {
  background-color: black;
  font-family: "Lora", serif;
  color: white;
  width: 450px;
  text-align: center;
  padding: 1px;
}

.cajaCompletaAdmi {
  display: flex;
  padding: 20px 500px 20px 300px;
  gap: 105px;
}

/*----------------------------------------------NUESTRAS CREACIONES ---------------------------------*/
/*----------------------------------------------NUESTRAS CREACIONES-------------------------*/
/*PARRAFOS*/
/*PARRAFOS*/
/*PARRAFOS*/
.cajaTituloHamburguesas {
  padding: 90px 120px 10px 120px;
}

.cajaTituloSalchi {
  padding: 200px 120px 10px 120px;
}

.cajaTituloHot {
  padding: 200px 120px 10px 120px;
}

.hamburguesasTitulo {
  font-family: "Lora", serif;
  color: white;
  background-color: #522B47;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
}

.hotDogTitulo {
  font-family: "Lora", serif;
  color: white;
  background-color: #522B47;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
}

.salchipapasTitulo {
  font-family: "Lora", serif;
  color: white;
  background-color: #522B47;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
}

.parrafoCreaciones {
  padding: 10px 0px 0px 0px;
  font-family: "Lora", serif;
  color: black;
}

/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
.cajaCompletaCreaciones {
  display: flex;
  padding: 40px 300px 20px 275px;
  gap: 70px;
}

.hamburguesaTexto {
  background-color: black;
  font-family: "Lora", serif;
  color: red;
  width: 450px;
  text-align: center;
  padding: 1px;
}

.creacionesUnicaH {
  padding: 40px 250px 20px 250px;
}

.españolaHamburguesa {
  width: 450px;
}

.tarjetaHamburguesa {
  border-radius: 25px;
  overflow: hidden;
}

/*......................................*/
/*Hot Dogs*/
.cajaCompletaHot {
  display: flex;
  padding: 40px 250px 30px 260px;
  gap: 50px;
}

.españolaPerro {
  width: 300px;
}

.hotText {
  background-color: black;
  font-family: "Lora", serif;
  color: red;
  width: 300px;
  text-align: center;
  padding: 1px;
}

.tarjetaPerro {
  border-radius: 25px;
  overflow: hidden;
}

/*......................................*/
/*SALCHIPAPAS*/
/*SALCHIPAPAS*/
/*SALCHIPAPAS*/
/*SALCHIPAPAS*/
/*SALCHIPAPAS*/
.CajaCompletaSalchi {
  display: flex;
  padding: 40px 250px 30px 260px;
  gap: 50px;
}

.salchiTexto {
  background-color: black;
  font-family: "Lora", serif;
  color: red;
  width: 300px;
  text-align: center;
  padding: 1px;
}

.tarjetaSalchi {
  border-radius: 25px;
  overflow: hidden;
}

.espaSalchi {
  width: 300px;
}

/*----------------------------------------------NUESTRAS CREACIONES-------------------------*/
/*----------------------------------------------COMICILIOS-------------------------*/
/*----------------------------------------------COMICILIOS-------------------------*/
/*----------------------------------------------COMICILIOS-------------------------*/
/*----------------------------------------------COMICILIOS-------------------------*/
.parrafoDomiciliosCompleto {
  padding: 100px 100px 0px 100px;
}

.parrafoDomicilios {
  font-family: "Lora", serif;
  color: black;
}

.imagenMoto {
  border-radius: 30px;
  border-color: red;
  border-style: dotted;
}

.motoCaja {
  padding: 10px 100px 0px 350px;
}

/*----------------------------------------------RESERVACIONES-------------------------*/
/*----------------------------------------------RESERVACIONES-------------------------*/
/*----------------------------------------------RESERVACIONES-------------------------*/
/*----------------------------------------------RESERVACIONES-------------------------*/
.parrafoReservaciones {
  font-family: "Lora", serif;
  color: black;
  display: flex;
  padding: 80px 0px 0px 0px;
}

/*Gridllas de galeria de imagenes*/
.galeriaImagenes {
  display: grid;
  width: 800px;
  height: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "caja1 caja1  caja2 caja2" "caja3 caja4  caja4 caja5" "caja3 caja6  caja6 caja5";
  gap: 5px;
}

.caja {
  border: 3px solid black;
}

img {
  max-width: 100%;
}

.caja1 {
  grid-area: caja1;
  width: 100%;
  text-align: center;
}

.caja2 {
  grid-area: caja2;
}

.caja3 {
  grid-area: caja3;
}

.caja4 {
  grid-area: caja4;
}

.caja5 {
  grid-area: caja5;
}

.caja6 {
  grid-area: caja6;
}

.cajaGaleria {
  display: flex;
  padding: 0px 340px 20px 340px;
  gap: 10px;
}

.formulario {
  padding: 0px 0px 0px 0px;
}

.reservar {
  font-family: "Lora", serif;
  color: black;
}

.borrar {
  font-family: "Lora", serif;
  color: black;
}

.nohagoNada {
  font-family: "Lora", serif;
  color: black;
}

/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/
/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/
/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/
/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
@media screen and (max-width: 480px) {
  body .cajaTituloHamburguesas {
    padding: 100px 10px 10px 10px;
  }
  body .cajaTituloSalchi {
    padding: 50px 10px 10px 10px;
  }
  body .creacionesMedia {
    padding: 10px 80px 10px 90px;
  }
  body .tituloNuestras {
    font-size: 20px;
  }
  body .losCombos {
    display: block;
  }
  body .imagenCombo {
    width: 100%;
  }
  body .mobileCombos {
    padding: 10px 5px 20px 5px;
  }
  body .cajaVideoY {
    width: 300px;
    padding: 0px 0px 0px 0px;
  }
  body .videoR {
    padding: 10px 75px 10px 75px;
    align-content: center;
  }
  body .videoBox {
    width: 200;
  }
  body .cajaPfisico {
    display: block;
    padding: 25px;
  }
  body .ubicacionPuntoP {
    width: 400px;
    border-radius: 10px;
  }
  body .mapaBox {
    width: 400px;
    padding: 25px 25px 10px 30px;
  }
  body .piedePaginaCompleto {
    display: flex;
    padding: 5px 5px 5px 60px;
    gap: 70px;
  }
  body .instagramLogo {
    width: 33px;
  }
  body .facebookLogo {
    width: 30px;
  }
  body .tiktokLogo {
    width: 30px;
  }
  body .whatsappLogo {
    width: 30px;
  }
  body .tercerParrafo {
    background-color: #C0C0C0;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  body .administradores {
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
  }
  body .cajaCompletaAdmi {
    display: block;
    padding: 0px 0px 0px 0px;
  }
  body .textoAdmi {
    width: 300px;
  }
  body .cajasTextoquienes {
    width: 300px;
  }
  body .cajasMedia {
    padding: 20px 90px 20px 95px;
    align-content: center;
  }
  body .CajaCompletaSalchi {
    padding: 0px 0px 0px 0px;
    display: block;
  }
  body .creacionesSal {
    width: 300px;
    padding: 10px 80px 10px 90px;
  }
  body .tarjetaSalchi {
    width: 300px;
  }
  body .cajaTituloHot {
    padding: 50px 10px 10px 10px;
  }
  body .cajaCompletaHot {
    display: block;
    padding: 0px 0px 0px 0px;
  }
  body .creacionesHot {
    width: 300px;
    padding: 10px 80px 10px 90px;
  }
  body .españolaPerro {
    width: 300px;
  }
  body .tarjetaPerro {
    width: 300px;
  }
  body .cajaCompletaCreaciones {
    display: block;
    padding: 0px 0px 0px 0px;
  }
  body .creacionesUnicaH {
    padding: 10px 80px 10px 90px;
  }
  body .españolHamburguesa {
    width: 300px;
  }
  body .hamburguesaTexto {
    width: 300px;
  }
  body .tarjetaHamburguesa {
    width: 300px;
  }
  body .motoCaja {
    width: 300px;
    padding: 0px 0px 0px 100px;
  }
  body .imagenMoto {
    width: 300px;
  }
}

/*# sourceMappingURL=main.css.map */
