@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,700&display=swap');
/*Font family lora serif */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*CUERPO*/

body{
    background-color: e6ebe0;



    .navbar {
        font-family: 'Lora', serif;
        font-weight: 100;

                    .nav-link {
                         color: red
                    }

                    ul li a{
                        color:red;
                        font-family: 'Lora', serif;
                        text-shadow: 3px 3px 10px rgba(0, 0, 0, 8.0);
                        }

    }


    .secuenciaPrincipal {
        background-color:black ;
        padding: 100px 100px 10px  100px;
                   
        .buttonColor {
            color: white;
        }

        .TextoSlide {
            color: antiquewhite;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 8.0);
        }        
        
    }

    .cuadroComparte {
        padding:1rem;
        background-color: black;

        .primerParrafo {
            background-color:rgba(255, 0, 0, 0.651);
            font-family: 'Lora', serif;
            font-weight: 800;
            color: white;
            text-align: center;
            font-size: 23px;
            padding: 50px;
            text-shadow: 3px 3px 10px rgba(0, 0, 0, 9.0);
            border-radius: 10px;
        }
    
    }

    .todoRecomendadas {
        padding: 1rem;

        .nuestrasRecomendadasFondo {
            background-color: #19191a;
            padding: 0.5rem;
            font-family: 'Lora', serif;
            color: rgb(255, 255, 255);
            text-align: center ;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 8.0);
            font-weight:bold;
            border-radius: 10px;

                         .tituloNuestras {
                         font-size: 40px;
                         }
         }
    }

    .losCombos {
        display: flex;
        padding: 40px 0px 10px 0px;
        gap: 20px; 
    
    }


}
/* AQUI VOY AQUI VOY AQUI VOY */




















.imagenPuntoP {
    background-color: black;
    width: 70%;
    color: transparent;
    opacity: 0.5;
}










.infoCombos {
    padding-left: 15px;
}


.imagenCombo{
    width: 350px;
}



.textoComboUno  {
    font-family: 'Lora', serif;
    color: red;
    text-align: center;


}


.comboUnoCombinado {
   background-color: black;
   overflow: hidden;
   border-radius: 30px;
}



.textoComboDos  {
    font-family: 'Lora', serif;
    color: red;
    text-align: center;
}


.comboDosCombinado {
    background-color: black;
    overflow: hidden;
    border-radius: 30px;
    

}
.textoComboTres  {
    font-family: 'Lora', serif;
    color: red;
    text-align: center;

}
.comboTresCombinado {
    background-color: black;
    overflow: hidden;
    border-radius: 30px;
    

}
.textoComboCuatro  {
    font-family: 'Lora', serif;
    color: red;
    text-align: center;

}
.comboCuatroCombinado {
    background-color: black;
    overflow: hidden;
    border-radius: 30px;
}
.textoComboCinco  {
    font-family: 'Lora', serif;
    color: red;
    text-align: center;

}

.comboCincoCombinado {

    background-color: black;
    overflow: hidden;
    border-radius: 30px;

}

.decoracionPN {
    color: white;
}



.segundoParrafo {
    background-color: #C0C0C0;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: black;
    text-align: center;
    border-radius: 10px;
}




.videoR {
    padding: 50px 400px 50px 400px;
    display: flex;
}

.videoBox {
    border-radius: 10px;
    width: 400px;

}
.cajaVideoY {
    width: 500px;
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    border-radius:10px;
}





/*....UBICACION....*/
/*....UBICACION....*/
/*....UBICACION....*/
/*....UBICACION....*/
/*....UBICACION....*/
/*....UBICACION....*/

.cajaPfisico {
    background-color: black;
    display: flex;
    padding: 40px 150px 40px 150px;
    gap: 60px; 
    border-radius: 1rem;
}


.ubicacionPuntoP {
    width: 470px;
}








/*----------------------------------------------CONTACTANOS---------------------------------*/
.parrafoContactanos {
    font-family: 'Lora', serif;
    color: black;
}
/*----------------------------------------------QUIENES SOMOS ---------------------------------*/

.cajaQuienesSomos {
    padding: 100px 0px 0px 0px;

}




.parrafoQuienesSomos {
    font-family: 'Lora', serif;
    color: black;
}


/* --------------------      */
.administradores {
 border-radius: 25px;
 overflow: hidden;
}


.textoAdmi    {
    width: 450px;

}

.cajasTextoquienes {
    
    background-color: black;
    font-family: 'Lora', serif;
    color: white;
    width: 450px;
    text-align: center;
    padding: 1px;

}

.cajaCompletaAdmi{
display: flex;
padding: 20px 500px 20px  300px;
gap: 105px;
}



/*----------------------------------------------NUESTRAS CREACIONES ---------------------------------*/
/*----------------------------------------------NUESTRAS CREACIONES-------------------------*/
/*PARRAFOS*/
/*PARRAFOS*/
/*PARRAFOS*/

.cajaTituloHamburguesas {
    padding: 90px 120px 10px 120px;
}



.cajaTituloSalchi {
    padding: 200px 120px 10px 120px;

}

.cajaTituloHot {
    padding: 200px 120px 10px 120px;

}


.hamburguesasTitulo{
    font-family: 'Lora', serif;
    color: white;
    background-color: #522B47;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 15px;
}

.hotDogTitulo {
    font-family: 'Lora', serif;
    color:white;
    background-color: #522B47;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 15px;
}
.salchipapasTitulo {
    font-family: 'Lora', serif;
    color: white;
    background-color: #522B47;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-radius: 15px;
}
.parrafoCreaciones {
    padding: 10px 0px 0px 0px;
    font-family: 'Lora', serif;
    color: black;
}
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/
/*Hamburguesas*/

.cajaCompletaCreaciones {
    display: flex;
    padding: 40px 300px 20px 275px;
    gap: 70px;
}
.hamburguesaTexto {
    background-color: black;
    font-family: 'Lora', serif;
    color: red;
    width: 450px;
    text-align: center;
    padding: 1px;
}

.creacionesUnicaH {
    padding: 40px 250px 20px 250px;

}

 .españolaHamburguesa {
    width: 450px;
 }

 .tarjetaHamburguesa {
    border-radius: 25px;
    overflow: hidden;
 }

/*......................................*/
/*Hot Dogs*/
.cajaCompletaHot{
    display: flex;
    padding: 40px 250px 30px 260px;
    gap: 50px;
}

.españolaPerro {
    width: 300px;
}

.hotText {
    background-color: black;
    font-family: 'Lora', serif;
    color: red;
    width: 300px;
    text-align: center;
    padding: 1px;
}

.tarjetaPerro {
    border-radius: 25px;
    overflow: hidden;

}


/*......................................*/

/*SALCHIPAPAS*/
/*SALCHIPAPAS*/
/*SALCHIPAPAS*/
/*SALCHIPAPAS*/
/*SALCHIPAPAS*/


.CajaCompletaSalchi {
    display: flex;
    padding: 40px 250px 30px 260px;
    gap: 50px;
}


.salchiTexto {
    background-color: black;
    font-family: 'Lora', serif;
    color: red;
    width: 300px;
    text-align: center;
    padding: 1px;
}

.tarjetaSalchi {
    border-radius: 25px;
    overflow: hidden;
}

.espaSalchi {
    width: 300px;
}

/*----------------------------------------------NUESTRAS CREACIONES-------------------------*/

/*----------------------------------------------COMICILIOS-------------------------*/
/*----------------------------------------------COMICILIOS-------------------------*/
/*----------------------------------------------COMICILIOS-------------------------*/
/*----------------------------------------------COMICILIOS-------------------------*/
.parrafoDomiciliosCompleto {
    padding: 100px 100px 0px 100px;

}
.parrafoDomicilios {
    font-family: 'Lora', serif;
    color: black;
}

.imagenMoto {
    border-radius: 30px;
    border-color: red;
    border-style: dotted;

}

.motoCaja {
    padding: 10px 100px 0px 350px;
}
/*----------------------------------------------RESERVACIONES-------------------------*/
/*----------------------------------------------RESERVACIONES-------------------------*/
/*----------------------------------------------RESERVACIONES-------------------------*/
/*----------------------------------------------RESERVACIONES-------------------------*/



.parrafoReservaciones {

    font-family: 'Lora', serif;
    color: black;
    display: flex;
    padding: 80px 0px 0px 0px;
}




/*Gridllas de galeria de imagenes*/


.galeriaImagenes {
    display: grid;
    width: 800px;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
        "caja1 caja1  caja2 caja2"
        "caja3 caja4  caja4 caja5"
        "caja3 caja6  caja6 caja5";
    gap: 5px;
}


.caja {
    border: 3px solid black;
}

img {
    max-width: 100%;
}


.caja1{
    grid-area: caja1;
    width: 100%;
    text-align: center;
}
.caja2{
    grid-area: caja2

}
.caja3{
    grid-area: caja3

}
.caja4{
    grid-area: caja4

}
.caja5{
    grid-area: caja5

}
.caja6{
    grid-area: caja6
    
}

.cajaGaleria {
    display: flex;
    padding: 0px  340px 20px  340px;
    gap: 10px;
  
}


.formulario {
    padding: 0px 0px 0px  0px;

}

.reservar {

    font-family: 'Lora', serif;
    color: black;
}

.borrar {

    font-family: 'Lora', serif;
    color: black;
}

.nohagoNada {

    font-family: 'Lora', serif;
    color: black;
}



/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/
/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/
/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/
/* TODO LO QUE TIENE QUE VER CON EL PIE DE PÁGINA*/

.cajaTpiePagina{
    padding: 50px 0px 0px 0px;
}

.tituloPiedePagina {
    background-color: black;
    font-family: 'Lora', serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 8.0);

}

.piedePaginaCompleto {
    background-color: white;
    display: flex;
    padding: 0px 150px 0px 150px;
    gap: 240px;
}
.instagramLogo {
    width: 53px;
    text-decoration: none;
}

.facebookLogo {
    width: 50px;
}

.tiktokLogo{
    width: 50px;
}

.whatsappLogo{
    width: 50px;
}

.tercerParrafo {
    background-color: #C0C0C0 ;
    font-family: 'Lora', serif;
    font-weight: 600 ;
    color: black;
    text-align: center;
}





/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/
/* media media media media media media media media media*/



@media screen and (max-width: 480px){
    .cajaTituloHamburguesas{
        padding: 100px 10px 10px 10px;
    }

    .cajaTituloSalchi {
        padding: 50px 10px 10px 10px;
    }

    .creacionesMedia {
        padding: 10px 80px 10px 90px;
    }


    .tituloNuestras {
        font-size: 20px;
    }
    
    .losCombos {
        display: block;
    }
    

    .imagenCombo {
        width: 100%;
    }

    
    .mobileCombos {
        padding: 10px 5px 20px 5px;
    }
    
    .cajaVideoY {
        width: 300px;
        padding: 0px 0px 0px 0px;
    }

    .videoR {
        padding: 10px 75px 10px 75px;
        align-content: center;
    }

    .videoBox {
        width: 200;
    }

    .cajaPfisico {
        display: block;
        padding: 25px ;
    }

    .ubicacionPuntoP {
        width: 400px;
        border-radius: 10px;
    }

    .mapaBox {
        width: 400px;
        padding: 25px 25px 10px 30px;

    }



     
    .piedePaginaCompleto {
        display: flex;
        padding: 5px 5px 5px 60px;
        gap: 70px;
    }
 
    .instagramLogo {
        width: 33px;
    }
    
    .facebookLogo {
        width: 30px;
    }
    
    .tiktokLogo{
        width: 30px;
    }
    
    .whatsappLogo{
        width: 30px;
    }

    .tercerParrafo {
        background-color: #C0C0C0;
        color: black;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }








    .administradores{

        overflow: hidden;
        border-radius: 20px;
        width: 300px;
    }


    .cajaCompletaAdmi {
    display: block;
    padding: 0px 0px 0px 0px;
    }

    .textoAdmi {
        width: 300px;
    }

    .cajasTextoquienes {
        width: 300px;
    }

    .cajasMedia {
        padding: 20px 90px 20px 95px;
        align-content: center;
    }

    





    .CajaCompletaSalchi {
     padding: 0px 0px 0px 0px;
     display: block;
    }            

    .creacionesSal {
        width: 300px;
        padding: 10px 80px 10px 90px;
    
    }
    .tarjetaSalchi{
        width: 300px;
    }







    .cajaTituloHot{
        padding: 50px 10px 10px 10px;
    }
    .cajaCompletaHot {
        display: block;        
        padding: 0px 0px 0px 0px;
    }
    .creacionesHot {
        width: 300px;
        padding: 10px 80px 10px 90px;
    }
    .españolaPerro {
        width: 300px;
    }
    .tarjetaPerro {
        width: 300px;
    }
        

    .cajaCompletaCreaciones {
        display: block;
        padding: 0px 0px 0px 0px;
        
    }


    .creacionesUnicaH {
        padding: 10px 80px 10px 90px;
  }


  .españolHamburguesa {
    width: 300px;
}
.hamburguesaTexto {
    width: 300px;
}

.tarjetaHamburguesa {
    width: 300px;
   }

.motoCaja{
    width: 300px;
    padding: 0px 0px 0px 100px;
}
.imagenMoto {
    width: 300px;
}


}