@media screen and (min-width: 200px) and (max-width: 812px){
/*combos*/
    .tituloNuestras {
    font-size: 20px;
    }

    .losCombos {
        display: block;

        .mobileCombos {
            padding: 10px 5px 20px 5px;
            
            .imagenCombo {
                width: 100%;
            }
        }
    }

/*quienes somos*/
    .cajaCompletaAdmi {
        display: block;
        padding: 0px 0px 0px 0px;
    
        .cajasMedia {
            padding: 20px 90px 20px 95px;
            align-content: center;
    
            .administradores{
                overflow: hidden;
                border-radius: 20px;
                width: 300px;
        
                      .textoAdmi {
                       width: 300px;
                      }
                  }  
                
                .cajasTextoquienes {
                width: 300px;
                  }
        }
    }

/*recomendadas*/
/*hambuirguesas*/
    .cajaTituloHamburguesas{
        padding: 100px 10px 10px 10px;
    }

    .cajaCompletaCreaciones {
        display: block;
        padding: 0px 0px 0px 0px;


                .creacionesMedia {
                 padding: 10px 0px 10px 90px;

                         .tarjetaHamburguesa {
                         width: 300px;

                             .españolHamburguesa {
                              width: 100%;
                              }

                               .hamburguesaTexto {
                                width: 300px;
                               }
                        }
               }
    }
/*perros*/
    .cajaTituloHot{
        padding: 50px 10px 10px 10px;
    }
    .cajaCompletaHot {
        display: block;        
        padding: 0px 0px 0px 0px;
    
        .creacionesHot {
            width: 300px;
            padding: 10px 80px 10px 90px;
    
            .tarjetaPerro {
                width: 300px;
    
                   .españolaPerro {
                   width: 100%;
                   }
                   .hotText {
                    background-color: black;
                    font-family: $fuentePrincipal;
                    color: red;
                    width: 300px;
                    text-align: center;
                    padding: 1px;
                }
            }
        }
    }
/*salchipapas*/
    .cajaTituloSalchi {
        padding: 50px 10px 10px 10px;
    }

    .CajaCompletaSalchi {
        padding: 0px 0px 0px 0px;
        display: block;

        .creacionesSal {
            width: 300px;
            padding: 10px 80px 10px 90px;
                
        .tarjetaSalchi{
            width: 300px;
                    }
     }
    }
  

/*video*/    
    .videoR {
        padding: 10px 75px 10px 75px;
        align-content: center;

        .cajaVideoY {
            width: 300px;
            padding: 0px 0px 0px 0px;

            .videoBox {
                width: 200;
            }
        }
    }

/*punto fisico*/

    .cajaPfisico {
        display: block;
        padding: 25px ;

        .ubicacionPuntoP {
            width: 400px;
            border-radius: 10px;
        }

        .mapaBox {
            width: 400px;
            padding: 25px 25px 10px 30px;
    
        }
    }
/*domicilios*/


    .motoCaja{
         width: 300px;
         padding: 0px 0px 0px 100px;

          .imagenMoto {
          width: 300px;
         }
   }

/*footer*/


footer{
    .piedePaginaCompleto {
        display: flex;
        padding: 5px 5px 5px 60px;
        gap: 70px;

        .instagramLogo {
            width: 33px;
        }

        .facebookLogo {
            width: 30px;
        }
        
        .tiktokLogo{
            width: 30px;
        }
        
        .whatsappLogo{
            width: 30px;
        }
    
        .tercerParrafo {
            background-color: $colorfondoP;
            color: black;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
        }  
    }
}
}