@media screen and (max-width: 480px){
    
    .cajaTituloHamburguesas{
        padding: 100px 10px 10px 10px;
    }

    .cajaTituloSalchi {
        padding: 50px 10px 10px 10px;
    }

    .creacionesMedia {
        padding: 10px 80px 10px 90px;
    }

    .tituloNuestras {
        font-size: 20px;
    }
    
    .losCombos {
        display: block;
    }
    
    .imagenCombo {
        width: 100%;
    }

    .mobileCombos {
        padding: 10px 5px 20px 5px;
    }
    
    .cajaVideoY {
        width: 300px;
        padding: 0px 0px 0px 0px;
    }

    .videoR {
        padding: 10px 75px 10px 75px;
        align-content: center;
    }

    .videoBox {
        width: 200;
    }

    .cajaPfisico {
        display: block;
        padding: 25px ;
    }

    .ubicacionPuntoP {
        width: 400px;
        border-radius: 10px;
    }

    .mapaBox {
        width: 400px;
        padding: 25px 25px 10px 30px;

    }

    .piedePaginaCompleto {
        display: flex;
        padding: 5px 5px 5px 60px;
        gap: 70px;
    }
 
    .instagramLogo {
        width: 33px;
    }
    
    .facebookLogo {
        width: 30px;
    }
    
    .tiktokLogo{
        width: 30px;
    }
    
    .whatsappLogo{
        width: 30px;
    }

    .tercerParrafo {
        background-color: $colorfondoP;
        color: black;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }
    .administradores{

        overflow: hidden;
        border-radius: 20px;
        width: 300px;
    }

    .cajaCompletaAdmi {
    display: block;
    padding: 0px 0px 0px 0px;
    }

    .textoAdmi {
        width: 300px;
    }

    .cajasTextoquienes {
        width: 300px;
    }
    .cajasMedia {
        padding: 20px 90px 20px 95px;
        align-content: center;
    }
    .CajaCompletaSalchi {
     padding: 0px 0px 0px 0px;
     display: block;
    }            

    .creacionesSal {
        width: 300px;
        padding: 10px 80px 10px 90px;
    
    }
    .tarjetaSalchi{
        width: 300px;
    }
    .cajaTituloHot{
        padding: 50px 10px 10px 10px;
    }
    .cajaCompletaHot {
        display: block;        
        padding: 0px 0px 0px 0px;
    }
    .creacionesHot {
        width: 300px;
        padding: 10px 80px 10px 90px;
    }
    .españolaPerro {
        width: 300px;
    }
    .tarjetaPerro {
        width: 300px;
    }
        
    .cajaCompletaCreaciones {
        display: block;
        padding: 0px 0px 0px 0px;
        
    }

    .creacionesUnicaH {
        padding: 10px 80px 10px 90px;
    }


    .españolHamburguesa {
    width: 300px;
    }
    .hamburguesaTexto {
    width: 300px;
    }

    .tarjetaHamburguesa {
    width: 300px;
   }

    .motoCaja{
    width: 300px;
    padding: 0px 0px 0px 100px;
   }
    .imagenMoto {
    width: 300px;
   }
}